@value m-medium from 'src/styles/breakpoints.css';

.emptyApps {
    margin: 2rem 0;
    font-size: 1.8rem;
    text-align: center;
}

.appCards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--spacers-dp16);
}

@media m-medium {
    .appCards {
        grid-template-columns: 1fr 1fr;
        max-width: 992px;
    }
}
