.table {
    display: block;
    overflow-x: scroll;
}

@media (min-width: 600px) {
    .table {
        display: table;
    }
}

.channelNameCell {
    color: var(--colors-grey700);
}

a.link {
    color: var(--colors-blue600);
    text-decoration: underline;
}

a.link:hover,
a.link:focus {
    color: var(--colors-blue700);
    text-decoration: none;
}
