{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "useBuiltIns": "entry"
            }
        ],
        "react-app"
    ],
    "env": {
        "test": {
            "plugins": ["rewire"]
        }
    },
    "plugins": [
        [
            "transform-imports",
            {
                "lodash": {
                    "transform": "lodash/${member}",
                    "preventFullImport": true
                }
            }
        ],
        "react-hot-loader/babel"
    ]
}
