# server
HOST=
PORT=

# authentication
AUTH_STRATEGY=
AUTH0_SECRET=
AUTH0_M2M_SECRET=
AUTH0_AUDIENCE=
AUTH0_DOMAIN=
AUTH0_ALG=

# aws
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=

# database
RDS_HOSTNAME=
RDS_USERNAME=
RDS_PASSWORD=
RDS_DB_NAME=
RDS_DB_PORT=