upload/
bundle.zip
# Elastic Beanstalk Files
.elasticbeanstalk
node_modules/
static/
build/

# ignore all env files, except the template
.env*
!.env.template

# ignore local vscode settings/files
.vscode/

# ignore cypress env
cypress.env.json

# ignore tools download cache
tools/apps
coverage/
