.detailsCardHeader {
    display: grid;
    grid-template-columns: 120px auto 67px;
    grid-gap: var(--spacers-dp12);
    margin-bottom: var(--spacers-dp8);
}

.detailsCardName {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    margin-top: var(--spacers-dp8);
    margin-bottom: 6px;
}

.detailsCardDeveloper {
    display: block;
    color: var(--colors-grey800);
    margin-bottom: var(--spacers-dp8);
}

.detailsCardType {
    color: var(--colors-grey700);
}

.appDescriptionParagraph {
    margin-top: 0;
    margin-bottom: var(--spacers-dp8);
}

.editLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editLogoButton {
    margin-top: var(--spacers-dp4);
}

.descriptionContainer {
    max-width: 640px;
}

.sourceUrl {
    color: var(--colors-blue700);
    text-decoration: underline;
}

.sourceUrl:hover, .sourceUrl:focus {
    color: var(--colors-grey900);
}
