@value m-medium from 'src/styles/breakpoints.css';

.dividerContainer {
    margin: var(--spacers-dp16) 0;
}

.filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media m-medium {
    .filters {
        grid-template-columns: 1fr;
    }
}

.filterWrapper {
    margin-bottom: 1.5rem;
}

.filterName {
    margin-top: 0;
    margin-bottom: 0.3em;
    font-size: 14px;
    font-weight: 500;
}

.dhisVersionSelect {
    margin: 0;
    max-width: 180px;
}

.organisationLinkWrapper {
    margin-bottom: var(--spacers-dp4);
    max-width: 80%;
    font-size: 14px;
}

.organisationLink {
    text-decoration: none;
}

.organisationLink:hover,
.organisationLink:focus {
    text-decoration: underline;
}

.organisationLink:hover .organisationAppCount,
.organisationLink:focus .organisationAppCount {
    text-decoration: none;
}

.organisationAppCount {
    text-decoration: none;
    font-size: 0.8em;
    color:var(--colors-grey800);
}

.showMoreLink {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    cursor: pointer;
    color:var(--colors-grey800);
}

.showMoreLink:hover {
    text-decoration: underline;
}