@value m-medium from 'src/styles/breakpoints.css';

.dividerContainer {
    margin: var(--spacers-dp16) 0;
}

.filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media m-medium {
    .filters {
        grid-template-columns: 1fr;
    }
}

.filterWrapper {
    margin-bottom: 1.5rem;
}

.filterName {
    margin-top: 0;
    margin-bottom: 0.3em;
    font-size: 14px;
    font-weight: 500;
}
