.container {
    margin-left: var(--spacers-dp8);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacers-dp24);
}

.searchInput {
    margin-left: var(--spacers-dp24);
    min-width: 25%;
    max-width: 420px;
}

.card {
    max-width: 960px;
    padding: var(--spacers-dp16);
}

.cardHeader {
    font-size: 20px;
    font-weight: 500;
    color: var(--colors-grey800);
    margin-top: 0;
    margin-bottom: var(--spacers-dp16);
}

.organisationLink {
    display: block;
    max-width: 620px;
    margin-bottom: var(--spacers-dp16);
    padding: var(--spacers-dp16);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.organisationLink:hover, .organisationLink:focus {
    background: var(--colors-grey200);
}

.organisationHeader {
    margin-bottom: var(--spacers-dp8);
}

.organisationName {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.organisationOwner {
    margin-left: var(--spacers-dp8);
}

.organisationCreatedAt {
    font-size: 13px;
    color: var(--colors-grey700);
}
