.appCardContainer {
    max-width: 960px;
    margin: 0 auto;
}

.appCardSection {
    padding: var(--spacers-dp24);
}

.appCardHeader {
    display: grid;
    grid-template-columns: 72px auto;
    grid-gap: var(--spacers-dp12);
}

.appCardName {
    font-size: 24px;
    font-weight: 700;
    margin-top: var(--spacers-dp8);
    margin-bottom: 6px;
}

.appCardDeveloper {
    display: block;
    font-size: 16px;
    margin-bottom: var(--spacers-dp8);
    color: var(--colors-grey800);
}

.appCardType {
    display: block;
    font-size: 13px;
    color: var(--colors-grey700);
}

.appCardHeading {
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: var(--spacers-dp12);
}

.appCardParagraph {
    font-size: 15px;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: var(--spacers-dp8);
}

.aboutSection {
    display: grid;
    grid-gap: var(--spacers-dp96);
    grid-template-columns: 60% auto;
}

.latestVersionDescription {
    max-width: 168px;
    margin-top: var(--spacers-dp8);
    margin-bottom: 0;
    font-size: 11px;
    color: var(--colors-grey700);
}
