@value m-medium from 'src/styles/breakpoints.css';

.appCard {
    display: block !important;
    max-width: 960px;
    margin: auto;
}

.appCardSection {
    padding: var(--spacers-dp12);
}

@media m-medium {
    .appCardSection {
        padding: var(--spacers-dp24);
    }
}

.appCardHeader {
    display: grid;
    grid-template-columns: 72px auto 67px;
    grid-gap: var(--spacers-dp12);
}

.appCardName {
    font-size: 24px;
    font-weight: 700;
    margin-top: var(--spacers-dp8);
    margin-bottom: 6px;
}

.appCardDeveloper {
    display: block;
    font-size: 16px;
    margin-bottom: var(--spacers-dp8);
    color: var(--colors-grey800);
}

.appCardType {
    font-size: 13px;
    color: var(--colors-grey700);
    margin-right: 5px;
}

.appCardTypeContainer {
    flex-direction: 'row';
    display: 'flex';
    align-items: 'center';
}

.appCardHeading {
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: var(--spacers-dp12);
}


.appCardParagraph {
    font-size: 15px;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: var(--spacers-dp8);
}

.aboutSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--spacers-dp16);
}

@media m-medium {
    .aboutSection {
        grid-template-columns: 60% auto;
        grid-gap: var(--spacers-dp96);
    }
}

.latestVersionDescription {
    margin-top: var(--spacers-dp8);
    margin-bottom: 0;
}

.latestVersionDescription span {
    display: block;
    margin-bottom: 2px;
    font-size: 11px;
    color: var(--colors-grey700);
}


.divider {
    max-width: 80%;
}

.sourceUrl:before {
    display: block;
    content: "";
}

.link, .sourceUrl {
    font-size: 14px;
    color: var(--colors-blue700);
    text-decoration: underline;
}

.link:hover, .sourceUrl:hover,
.link:focus, .sourceUrl:focus {
    color: var(--colors-grey900);
}


