.card {
    display: block !important;
    max-width: 680px;
    margin: auto;
    padding: var(--spacers-dp16);
}

.header {
    font-size: 26px;
    font-weight: 400;
    color: var(--colors-grey800);
    margin-top: 0;
    margin-bottom: var(--spacers-dp16);
}

.description {
    font-size: 14px;
    color: var(--colors-grey700);
}

.flexCenter {
    display: flex;
    align-items: center;
}

.justifyBetween {
    justify-content: space-between;
}

.noticeBox {
    margin-top: var(--spacers-dp24);
    margin-bottom: var(--spacers-dp24);
}

.copyToClipboardButton {
    margin-left: var(--spacers-dp4);
}
