.card {
    display: block !important;
    max-width: 480px;
    margin: auto;
    padding: var(--spacers-dp24);
    text-align: center;
}

.explanation {
    margin-top: 0;
    margin-bottom: var(--spacers-dp24);
}

.middle {
    display: block;
    margin: var(--spacers-dp8) 0;
}
