.card {
    display: block !important;
    max-width: 960px;
    margin: auto;
    padding: var(--spacers-dp16);
}

.header {
    font-size: 26px;
    font-weight: 400;
    color: var(--colors-grey800);
    margin-top: 0;
    margin-bottom: var(--spacers-dp16);
}

.field {
    margin-bottom: var(--spacers-dp24);
    max-width: 480px;
}

.helpTextLink {
    text-decoration: underline;
}

.helpTextLink:hover,
.helpTextLink:focus {
    color: var(--colors-grey900);
}
