.fade-enter,
.fade-appear,
.fade-exit {
  transition: opacity 300ms;
}
.fade-enter {
  opacity: 0;
}
.fade-appear {
  opacity: 0;
}
.fade-enter-active,
.fade-appear-active {
  opacity: 1
}
.fade-exit {
  transition: opacity 300ms;
  opacity: 1;
}
.fade-exit-active {
  opacity: 0
}