.appCard {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: var(--spacers-dp12);
    max-width: 620px;
    margin-bottom: var(--spacers-dp16);
    background: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.appCardLink,
.appCardActions {
    padding: var(--spacers-dp16);
}

.appCardLink {
    display: grid;
    grid-template-columns: 72px auto;
    grid-gap: var(--spacers-dp12);
    padding-right: 0;
}

.appCardActions {
    padding-left: 0;
}

.appCardLink:focus {
    background: var(--colors-grey200);
}

.appCardName {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: var(--spacers-dp4);
}

.appCardAction {
    margin-bottom: var(--spacers-dp4);
    font-size: 13px;
    color: var(--colors-grey700);
}

.appCardActions {
    display: flex;
    flex-direction: column;
}

.appCardActions button {
    margin-bottom: var(--spacers-dp4);
}
