.container {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: var(--spacers-dp24);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    padding: var(--spacers-dp16);
}

.header {
    margin-bottom: var(--spacers-dp8);
}

.name {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-right: var(--spacers-dp8);
}

.email {
    color: var(--colors-grey800);
}

.removeButton {
    margin-left: var(--spacers-dp8);
}
