

html, body {
    background-color: #eeeeee;
    height: 100%;
}
#appStore {
    height:100%;
}

.app {
    height: 100%;
}

.mdc-card {
    justify-content: flex-start;
    background-color: #ffffff;
}

.card-text {
    height: 80px;
    overflow: scroll;
}

.drawer-below-header {
    position:relative;
    height: auto;
    
}

.layout-content {
    padding: 10px;
}

.full-height {
    height:100%;
    padding: 0;
    left:0;
    display: flex;
    flex-direction: row;
}
.center {
    margin-left: auto;
    margin-right: auto;
}

.left-margin {
    margin-left: 15px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.paper {
    height: 100%;
    margin: 0 auto 0 auto;
}

.ver-list {
    list-style: none;
}

.second-header {
    background-color: #ffffff;
    color: rgba(0,0,0,0.870588);
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    margin: 5px 0 20px 0;
}