
body {
    background-color: #eeeeee;
}
.mdc-card {
    justify-content: flex-start;
    background-color: #ffffff;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.paper {
    height: 100%;
    margin: 0 auto 0 auto;
}

.ver-list {
    list-style: none;
}

.second-header {
    background-color: #ffffff;
    color: rgba(0,0,0,0.870588);
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    margin: 5px 0 20px 0;
}