.container {
    display: grid;
    height: 100%;
    grid-template-areas: "sidebar main";
    grid-template-columns: 296px auto;
    grid-gap: var(--spacers-dp24);
    color: var(--colors-grey900);
}

.sidebar {
    grid-area: sidebar;
    height: 100%;
}

.content {
    position: relative;
    grid-area: main;
}

.pagination {
    margin: var(--spacers-dp24) 0;
    max-width: 992px;
}
