@value m-medium, m-large from 'src/styles/breakpoints.css';

.container {
    display: grid;
    grid-template-areas: 'filters' 'apps';
    padding: var(--spacers-dp16) var(--spacers-dp12);
}

@media m-medium {
    .container {
        grid-template-areas: 'filters apps';
        grid-template-columns: 224px auto;
        grid-gap: var(--spacers-dp24);
        padding: 0;
    }
}

@media m-large {
    .container {
        grid-template-columns: 296px auto;
    }
}

.filters {
    grid-area: filters;
}

.apps {
    position: relative;
    grid-area: apps;
}

.pagination {
    margin: var(--spacers-dp24) 0;
    max-width: 992px;
    justify-content: center;
}

.pagination :global(.spacer) {
    display: none;
}

@media m-medium {
    .pagination {
        justify-content: normal;
    }

    .pagination :global(.spacer) {
        display: block;
    }
}
