.subheader {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: var(--spacers-dp8);
}

.filtersWrapper {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.versionsFilters {
    padding: var(--spacers-dp16) var(--spacers-dp8);
}

.channelsFilter {
    margin-bottom: var(--spacers-dp16);
}

.dhisVersionSelect {
    max-width: 200px;
}
