.addScreenshotHeader {
    font-size: 16px;
    font-weight: 500;
    color: var(--colors-grey800);
    margin-top: 0;
    margin-bottom: var(--spacers-dp4);
}

.addScreenshotDescription {
    margin: 0;
}

.screenshotsGuidelinesLink {
    color: var(--colors-blue700);
    text-decoration: underline;
}

.screenshotsGuidelinesLink:hover, .screenshotsGuidelinesLink:focus {
    color: var(--colors-grey900);
}

.hidden {
    display: none;
}

.uploadButton {
    margin-top: var(--spacers-dp16);
}
