.card {
    display: block !important;
    max-width: 680px;
    margin: auto;
    padding: var(--spacers-dp16);
}

.header {
    margin-bottom: var(--spacers-dp16);
}

.organisationName {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin-right: var(--spacers-dp8);
}

.description {
    font-size: 0.8em;
}

.createdAt,
.description {
    margin-top: var(--spacers-dp8);
    color: var(--colors-grey800);
}

.notice {
    margin: var(--spacers-dp32) 0;
}

.subheader {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: var(--colors-grey800);
    margin-top: 0;
    margin-bottom: var(--spacers-dp12);
    margin-right: var(--spacers-dp8);
}

.flex {
    display: flex;
}
