.container {
    margin-left: var(--spacers-dp8);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacers-dp24);
}

.searchInput {
    margin-left: var(--spacers-dp24);
    min-width: 25%;
    max-width: 420px;
}

.statusCard {
    max-width: 960px;
    background: white;
    padding: var(--spacers-dp16);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.rejectedStatusCard {
    border: 2px solid var(--colors-red700);
    background: var(--colors-red050);
}

.statusCardHeader {
    margin-top: 0;
    margin-bottom: var(--spacers-dp12);
    font-size: 20px;
    font-weight: 500;
}

.rejectedStatusCardHeader {
    color: var(--colors-red600);
}

.statusCardDescription {
    color: var(--colors-grey800);
    font-size: 14px;
    margin-top: 0;
    margin-bottom: var(--spacers-dp24);
}
